<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/images/about.png" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Rango says here is about the page.</h1>
    <div>This tutorial has been put together by Richard Ilupeju</div>
    <div>
      <a href="/rango/">Home</a><br />
      <img src="{{ MEDIA_URL }}tesla.jpg" alt="Tesla ride" />
    </div>
  </body>
</html>
